# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master
- staging
- trying

jobs:
- job: Linux
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - script: |
      curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain stable
      echo "##vso[task.setvariable variable=PATH;]$PATH:$HOME/.cargo/bin"
    displayName: 'Install rust'
  - script: rustc --version
    displayName: 'Rust version'
  - script: cargo test
    displayName: 'Run tests'

- job: macOS
  pool:
    vmImage: 'macOS-10.14'
  steps:
  - script: |
      curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain stable
      echo "##vso[task.setvariable variable=PATH;]$PATH:$HOME/.cargo/bin"
    displayName: 'Install rust'
  - script: rustc --version
    displayName: 'Rust version'
  - script: cargo test
    displayName: 'Run tests'

- job: Windows
  pool:
    vmImage: 'vs2017-win2016'
  steps:
  - script: |
      curl -sSf -o rustup-init.exe https://win.rustup.rs
      rustup-init.exe -y --default-toolchain stable
      echo "##vso[task.setvariable variable=PATH;]%PATH%;%USERPROFILE%\.cargo\bin"
    displayName: 'Install rust'
  - script: rustc --version
    displayName: 'Rust version'
  - script: cargo test
    displayName: 'Run tests'

- job: Plumbing
  steps:
    - task: GithubRelease@0
      displayName: 'Create Github release'
      inputs:
        githubConnection: afnanenayetgh
        repositoryName: afnanenayet/oars
        action: 'create'
        tagSource: auto
        compareWith: 'lastFullRelease'
        addChangeLog: true
